@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');  

html{
    font-size: 62.5%;
}
:root{
    --cor0: rgb(136, 201, 38);
    --cor1: whitesmoke;
    --cor2: rgb(172, 89, 30);
    --cor3: rgb(46, 45, 45);
    --cor4: rgb(37, 218, 218);
}
body{
    font-family: 'Russo One', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
}
.container{
    max-width: 95%;
    width: 59.375vw;
    margin: auto;
    margin-bottom: 2rem;
}



