
#topo{
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
h2{
    font-size: 3rem;
}
#comprarMais{
    padding: 0.8rem;
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    border: solid black 0.2rem;
    background-color: rgb(136, 201, 38);
}
/* ESTRUTURA */     
#caixa-carrinho{
    display: flex;
    justify-content: space-between;
}
/* PARTE CARRINHO */
#carrinho{
    display: flex;
    flex-direction: column;
    
}
.item-carrinho{
    border-top: 0.2rem solid black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.imagem-item{
    border: 2px solid black;
    width: 8.82vw;
    object-fit: cover;
    max-height: 120px;
    margin: 1rem 0rem;
}

.item-carrinho a{
    color: black;
    font-size: 4rem;
    margin: 0rem 0.5rem;
    
}
.item-carrinho p{
    margin: 0rem 2rem;
  
    
}
#nome-item{
    text-align: center;
    width:80px;
}
/* PARTE RESUMO-PEDIDO*/
#resumo-pedido{
    margin-top: 2%;
    font-size: 1.6rem;
    padding: 1rem;
    width: 23.94vw;
    border: 0.2rem black solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h3{
    font-size: 2.2rem;
}
.info-carrinho{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0; 
    width: 100%;
  
}
.info-carrinho p{
    width: 100px;
   
}
#barra{
    border-bottom: 0.2rem black solid;
}
#continuarCompra{
    text-align: center;
    width: 60%;
    cursor: pointer;
    padding: 1.8rem;
    font-size: 2rem;
    color: black;
    border: solid black 0.2rem;
    background-color: rgb(136, 201, 38);

}