@import 'base.css';
h2{
    font-size: 4.5rem;
}
form{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
label{
    font-size:20px;
}
input{
    width: 350px;
    height: 30px;
}
#botao{
    font-size: 1.5em;
    margin-top: 20px;
    width: 310px;
    height: 45px;
}