@import 'base.css';
h2{
    font-size: 4.5rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
label{
    font-size:2rem;
}
input{
    width: 25vw;
    height: 5.9vh;
}
#botao{
    font-size: 1.5em;
    margin-top: 2.5rem;
    width: 22.8vw;
    height: 6.84vh;
}