@import 'base.css';
    /* FOOTER */
    footer{
        padding: 0.5rem 0rem;
        font-size: 1.8rem;
        margin-top: 3%;
        display: flex;
        border-top: var(--cor3) 0.2rem solid;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    
    }
    #redes-sociais{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    #redes-sociais a{
        color: black;
        margin-top: 1rem;
        text-align: center;
    }
    .redes-icons{
        padding: 1rem;
        color: black;
        font-size: 5rem;
    }
    #caminhos-footer{
        flex-direction: column;
        justify-content: flex-end;
        display:flex;
        align-items: center;
        
    }
    .item-rodape{
        color: var(--cor4);
        text-decoration: none;
        padding: 2rem 4rem 2rem 4rem;
        
    }
    @media(max-width:550px) {
        /* FOOTER */
        footer{
            width: 100%;
            border-top: var(--cor3) 0.5rem solid;
        }
        .item-rodape{
            padding:2rem;
            text-align:center;
            width:100%;
        }
    }