
@import 'base.css';
/* ESTRUTURA PRODUTOS */
a{
    text-decoration: none;
}
.caixa-produtos{
    min-height: 40%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.produto{
    margin-top: 2%;
    border: double gray 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 26.4vw;
}
.titulo-produto{
    color: black;
    font-size: 2rem;
    margin: 1.2rem 0rem 1.2rem 0rem;
    text-decoration: underline;
}
.preco-produto{
    color: var(--cor1);
    font-size: 2.5rem;
    min-height: 40px;
    background-color: var(--cor0);

}
.img-produto{
    object-fit: cover;
    width:  100%;
    height: 62.3vh;
  
}
