@import 'base.css';

section{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.estrutura{
    height:  83.7vh;
    background-color: var(--cor1);
    border: solid 0.2rem gray;
    padding: 0.8rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 3rem;
    background-color: rgb(136, 201, 38);
}
aside{
    margin-top: 2rem;
    font-size: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}
.estrutura form input{
    height: 4vh;
}
#botao{
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    height: 8.5vh;
    border: solid black 0.2rem;
    cursor: pointer;
    background-color: rgb(136, 201, 38);
    margin:2rem;
}

.bloco{
    display: flex;
    flex-direction: column;
}
/* CADASTRO PARTE */
.decoracao2-img{
    width: 7.3vw;
    margin: 3rem;

}
/* LOGIN PARTE */
.decoracao{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.decoracao-img{
    border: black 0.4rem solid;
    object-fit: contain;
    width: 7.3vw; 
   
}
article{
    font-size: 1.7rem;
    padding: 1rem;
    width: 14.6vw;
    text-align: start;
}
small{
    margin-top: 0.5rem;
    text-decoration: underline;
    color: rgb(102, 209, 209);
}
.decoracao3-img{
    margin: 2rem 4.5rem;
    width: 7.3vw;
}
