@media(max-width:900px) {
    html {
        font-size: 50%;
    }
    .preco-produto,.titulo-produto{
        max-height: 35px ;
        min-height: 20px !important;
    }

}


@media(max-width:600px) {

    html{
        font-size: 35%;
    }
    body{
        
    }
    .container{
        max-width: none;
        width: 100%;
    }
    /* pagina inicial */
    .caixa-produtos{
        flex-direction: column;

       
    }
    .produto{
        padding: 1rem 0rem;
        margin: auto;
        border: none;
        border-bottom: gray 0.1px solid;
        flex-direction: row;
        width: 90%;
    
    }
    .info-mobile{
        align-items: center;
        justify-content: none;
        display: flex;
        flex-direction: column;
        width: 55%;
    }
    .img-produto{
        height: 160px;
        width: 90%;
    }
    .titulo-produto{
        font-size: 2.5rem;
        max-height: none;
        max-width: none;
    }
    .preco-produto{
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        font-size: 4rem;
    }



     /* pagina do produto */
     main{
        flex-direction: column;
    
     }
     #imagem-principal{
         border: none;
     }
     .imagens-secundarias{
        margin: 0;
        width: 0;
              
     }
     p{
         margin-top: 0;
     }
     /* pagina de carrinho */
     #caixa-carrinho{
         background-color: red;
         flex-direction: column;
     }
     article{
         width: 100%;
     }
}