@media (max-width:1000px) {
    html {
        font-size: 50%;
    }
    .preco-produto,.titulo-produto{
        max-height: 35px ;
        min-height: 20px !important;
    }
   
}

@media (max-width:900px) {
    html {
        font-size: 45%;
    }
    ul{
        width: 85% ;
    }
    
}


@media (max-width:700px) {
    html {
        font-size: 40%;
    }
    #caixa-barra{
        width: 31rem;
    }
    ul{
        width: 85% ;
    }
    #complemento{
        margin-bottom: 1rem;
    }
    
}



@media (max-width:500px) {

    html {
        font-size: 34%;
    }
    body{
        height: 25vh;
        
    }
    section{
        width: 100%;
        background-color: var(--cor0);
        position: fixed;
        
    }
    header{
        background-color: var(--cor1);
        padding: 0;
        width: 100%;
    }
    .item-cabecalho{
        font-size: 1.8rem;
    }
    h1{
        font-size: 3rem;
    }
    #caixa-barra{
        width: 28%;
        margin: 0;
    }
    #barra-pesquisa{
        font-size: 1.2rem;
        width: 100%;
        height: 2.35vh;
    }
    .imagens-links{
        margin: 0;
    }
    .espacamento{
        height:90px;
    }
    .bloco-produtos{
        margin: auto;
        flex-direction: column
        
    }
    .produto{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        border-bottom: gray 0.1px solid;
        flex-direction: row;
        width: 100%;
    }
    .imagem-produto{
        min-width: 170px;
        height: 160px;
        width: 90%;
    }
    .caixa-info{
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 65%;
        max-height: 200px;
    }
    .href-produto{
        height: unset;
        width: 100%;
    }
    .avaliacao{
        width: 20rem;
    }
    .titulo-produto{
        font-size: 2.5rem;
        max-height: none;
        max-width: none;
    }
    .preco-produto{
        width: 100%;
        height: 100%;
        font-size: 3.5rem;
    }
   
    #complemento{
        margin-bottom: 4rem;
        height: 25%;
        background-size: 15%
    }
    footer{
        align-items: center;
        height: 7vh;
        justify-content: center;
        width: 100%;
        margin:0;
    }
   
    

}
    

