
@import 'base.css';
#caixa-produto{
    display: flex;
    justify-content: space-around;
}
/* estrutura produto */
#produto-imagens {
 
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}
#produto-imagens #principal-img{
    width: 35vw;

}
#produto-imagens #secundarias {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secundarias-img{
    width: 120px;
    height: 120px;
    
    
}
#produto-info{
    display: flex;
    flex-direction: column;

}
/* INFORMAÇÕES DO PRODUTO */
h2{
    font-size: 2rem;
}